<?xml version="1.0"?>
<configuration>
  
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Scroller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
</startup>

    <userSettings>
        <Scroller.Properties.Settings>
            <setting name="PreferredUnmuteVolume" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="VolumeStepValue" serializeAs="String">
                <value>5</value>
            </setting>
        </Scroller.Properties.Settings>
    </userSettings>
</configuration>
